.pagination__container {
  display: flex;
  justify-content: center;
  padding-top: 32px;

  .item {
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 2.75px;
    border-radius: 2px;
    font-size: 10px;
    text-align: center;
    line-height: 22px;

    &:hover {
      background: #F5F6FA;
    }

    &.active {
      background: #5E35B1;
      color: #fff;
    }
  }
}