
.table__container {
   border-spacing: 0;
}

.table__container .link {
   max-width: 135px;
   display: block;
   overflow-wrap: anywhere;
   text-decoration: none;
   color: #459AFF;
}

.thead__container {
   height: 43px;
}

.thead__line {
   height: 23px;
   padding: 10px 16px;
   font-family: var(--font-family-roboto);
   font-size: 10px;
   color: #7A7C8B;
   background-color: #F5F6FA;
}

.thead__row_name {
   font-weight: 500;
   text-align: left;
   border-right: 7px solid #F5F6FA;
   border-left: 7px solid #F5F6FA;
}

.body__container {

}

.table__row_container {
   height: 72px;
   align-items: center;
   font-family: var(--font-family-roboto);
   font-size: 12px;
   font-weight: 400;
   border-bottom: 1px solid #E8E8EF;
}

.table__data_string {
   border-bottom: 1px solid #E8E8EF;
   padding: 0 7px;
}
