.thead__container {
   display: flex;
   width: 1280px;
   height: 43px;
   background: #F5F6FA;
}

.thead__line {
   width: 1248px;
   height: 23px;
   padding: 10px 16px;
   font-family: var(--font-family-roboto);
   font-size: 10px;
   color: #7A7C8B;
}

.thead__row_name {
   padding: 4px 50px 3px 0;
   font-weight: 500;
}

.body__container {
   display: flex;
   width: 1280px;
   height: 720px;
   flex-direction: column;
   align-items: flex-start;
}

.table__row_container {
   width: 1280px;
   height: 72px;
   display: flex;
   align-items: center;
   font-family: var(--font-family-roboto);
   font-size: 12px;
   font-weight: 400;
   border: 0.632812px solid #E8E8EF;
}

.table__data_string {
   display: flex;
   margin-right: auto;
   padding: 16px;
}
