.container-center {
   display: flex;
   flex-direction: row;
   justify-content: center;
   width: 100%;
}

.a-a {
   display: contents;
   text-decoration: none;
}

.container-center > * {
   flex-shrink: 0;
   pointer-events: auto;
}

.spravochnik-istochniki {
   align-items: center;
   background-color: var(--white);
   display: flex;
   flex-direction: column;
   height: 1045px;
   padding: 19px 0;
   width: 1280px;
}

.frame81512811 {
   align-items: flex-start;
   display: flex;
   width: 1248px;
   height: 32px;
   left: 19px;
   top: 30px;
}

.atom-large-2 {
   align-items: center;
   border: 0.6px solid var(--gray-suit);
   border-radius: 3.8px;
   display: flex;
   height: 32px;
   overflow: hidden;
   padding: 0 10px;
   position: relative;
   width: 488px;
}

.atom-large {
   align-items: center;
   border: 0.6px solid var(--gray-suit);
   border-radius: 3.8px;
   display: flex;
   height: 32px;
   overflow: hidden;
   padding: 0 10px;
   position: relative;
   width: 488px;
}

.search-medium {
   align-items: flex-end;
   display: flex;
   height: 14px;
   padding: 0.8px 0.7px;
   width: 14px;
}

.vector {
   height: 12px;
   margin-left: 1px;
   width: 12px;
}

.primary {
   align-items: center;
   justify-content: center;
   background-color: var(--plump-purple);
   border-radius: 4px;
   display: flex;
   height: 32px;
   padding: 0 12px;
}

.p-33 {
   letter-spacing: 0.20px;
   line-height: 16px;
   min-height: 16px;
   min-width: 23px;
   text-align: center;
   white-space: nowrap;
}

.value {
   color: var(--gray-suit);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-m);
   font-weight: 400;
   letter-spacing: 0;
   line-height: 16px;
   margin-left: 5px;
   min-height: 16px;
   min-width: 36px;
   white-space: nowrap;
}

.input {
   display: flex;
   align-items: flex-start;
   position: static;
   width: 488px;
   height: 32px;
}

.frame2511 {
   align-items: flex-start;
   display: flex;
   margin-left: 8px;
   min-width: 752px;
   position: relative;
}

.primary-2 {
   align-items: center;
   justify-content: center;
   background-color: var(--plump-purple-2);
   border-radius: 4px;
   display: flex;
   height: 32px;
   margin-left: 8px;
   padding: 0 12px;
}

.p-13 {
   letter-spacing: 0.20px;
   line-height: 16px;
   min-height: 16px;
   min-width: 41px;
   text-align: center;
   white-space: nowrap;
}

.primary-3 {
   align-items: center;
   justify-content: center;
   background-color: var(--plump-purple);
   border-radius: 4px;
   display: flex;
   height: 32px;
   margin-left: 8px;
   padding: 0 12px;
}

.p-14 {
   letter-spacing: 0.20px;
   line-height: 16px;
   min-height: 16px;
   min-width: 47px;
   text-align: center;
   white-space: nowrap;
}

.primary-4 {
   align-items: center;
   justify-content: center;
   background-color: var(--plump-purple-2);
   border-radius: 4px;
   display: flex;
   height: 32px;
   margin-left: 8px;
   padding: 0 12px;
}

.p-15 {
   letter-spacing: 0.20px;
   line-height: 16px;
   min-height: 16px;
   min-width: 54px;
   text-align: center;
   white-space: nowrap;
}

.primary-5 {
   align-items: center;
   justify-content: center;
   border: 0.9px solid var(--gray-suit);
   border-radius: 4px;
   display: flex;
   height: 32px;
   margin-left: 8px;
   padding: 0 11.1px;
   box-sizing: border-box;
}

.p-16 {
   letter-spacing: 0.20px;
   line-height: 16px;
   min-height: 16px;
   min-width: 77px;
   text-align: center;
   white-space: nowrap;
}

.table-header-new {
   align-items: center;
   background-color: var(--whisper);
   display: flex;
   height: 33px;
   margin-top: 24px;
   padding: 5px 16px;
   min-width: 1248px;
}

.columns-name-8 {
   align-items: flex-start;
   display: flex;
   height: 15px;
   margin-top: 1.0px;
   overflow: hidden;
   width: 101px;
}

.p-1,
.p-2 {
   height: 16px;
   letter-spacing: 0.20px;
   line-height: 16px;
   margin-top: -0.41px;
   white-space: nowrap;
}

.columns-name-9 {
   align-items: flex-start;
   display: flex;
   height: 15px;
   margin-left: 112px;
   margin-top: 1.0px;
   overflow: hidden;
   width: 38px;
}

.columns-name {
   align-items: flex-start;
   display: flex;
   margin-left: 117px;
   margin-top: 1.0px;
   width: 47px;
}

.p-3,
.p-5,
.p-7,
.p-2-1,
.p-8 {
   height: 16px;
   letter-spacing: 0.20px;
   line-height: 16px;
   white-space: nowrap;
}

.columns-name-2 {
   align-items: flex-start;
   align-self: flex-end;
   display: flex;
   margin-left: 50px;
   width: 92px;
}

.p-4 {
   height: 32px;
   letter-spacing: 0.20px;
   line-height: 16px;
   width: 74px;
}

.columns-name-3 {
   align-items: flex-start;
   display: flex;
   margin-left: 31px;
   margin-top: 1.0px;
   width: 113px;
}

.columns-name-4 {
   align-items: flex-start;
   align-self: flex-end;
   display: flex;
   margin-left: 38px;
   width: 86px;
}

.p-6 {
   height: 32px;
   letter-spacing: 0.20px;
   line-height: 16px;
   width: 68px;
}

.columns-name-5 {
   align-items: flex-start;
   display: flex;
   margin-left: 38px;
   margin-top: 1.0px;
   width: 90px;
}

.columns-name-6 {
   align-items: flex-start;
   display: flex;
   margin-left: 38px;
   margin-top: 1.0px;
   width: 72px;
}

.columns-name-7 {
   align-items: flex-start;
   display: flex;
   margin-left: 38px;
   margin-top: 1.0px;
   width: 95px;
}

.frame815128-1 {
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   min-height: 72px;
   width: 1280px;
}

.frame81512819 {
   align-items: flex-start;
   display: flex;
   margin-top: 20px;
   min-width: 1280px;
   padding: 0 16px;
}

.overlap-group {
   height: 32px;
   position: relative;
   width: 347px;
}

.p-9 {
   left: 0;
   letter-spacing: 0;
   line-height: 16px;
   position: absolute;
   top: 1px;
   white-space: nowrap;
   width: 218px;
}

.httpstelegrammevyzvon179641 {
   left: 213px;
   overflow-wrap: break-word;
   letter-spacing: 0;
   line-height: 16px;
   position: absolute;
   top: 0;
   width: 134px;
}

.overlap-group-1 {
   height: 16px;
   margin-left: 21px;
   margin-top: 1px;
   position: relative;
   width: 197px;
}

.p12-099 {
   left: 0;
   letter-spacing: 0;
   line-height: 16px;
   position: absolute;
   top: 0;
   white-space: nowrap;
   width: 100px;
}

.p1-348-094 {
   left: 97px;
   letter-spacing: 0;
   line-height: 16px;
   position: absolute;
   top: 0;
   white-space: nowrap;
   width: 100px;
}

.p1-348-094-1 {
   letter-spacing: 0;
   line-height: 16px;
   margin-left: 23px;
   margin-top: 1px;
   min-height: 16px;
   white-space: nowrap;
   width: 100px;
}

.p-218-464-443 {
   letter-spacing: 0;
   line-height: 16px;
   margin-left: 51px;
   margin-top: 1px;
   min-height: 16px;
   white-space: nowrap;
   width: 100px;
}

.p-3-1 {
   letter-spacing: 0;
   line-height: 16px;
   margin-left: 24px;
   margin-top: 1px;
   min-height: 16px;
   white-space: nowrap;
   width: 100px;
}

.edit {
   align-items: flex-start;
   display: flex;
   height: 16px;
   margin-left: 269px;
   margin-top: 1px;
   padding: 0.8px 0.7px;
   width: 16px;
}

.union {
   height: 14px;
   width: 14px;
}

.border_line {
   height: 1px;
   margin-top: 20px;
   width: 1280px;
}

.items-1-page-number-2-selected {
   align-items: flex-start;
   background-color: var(--white);
   border-radius: 2.53px;
   display: flex;
   height: 16.52px;
   margin-bottom: 0.31px;
   overflow: hidden;
   padding: 4.4px 9.4px;
   width: 20.67px;
}

.p-number {
   height: 16px;
   letter-spacing: 0.20px;
   line-height: 16px;
   min-width: 6px;
   text-align: center;
   white-space: nowrap;
}

.items-1-page-number-2-selected.items-1-page-number-1-default-2 {
   margin-left: 5px;
   padding: 4.4px 9.2px;
}

.items-1-page-number-2-selected.items-1-page-number-1-default-2.p-number {
   margin-left: 1px;
   margin-left: 5px;
   padding: 4.4px 9.2px;
}

.items-1-page-number-2-selected.items-1-page-number-1-default-3 {
   background-color: var(--whisper);
   margin-left: 5px;
   padding: 4.4px 9.5px;
}


.overlap-group2 {
   position: relative;
   height: 40px;
   margin-left: 0.44px;
   margin-top: 32px;
   width: 278px;
}

.pagination {
   align-items: flex-start;
   display: flex;
   height: 26px;
   left: 15px;
   padding: 0 35.4px;
   position: absolute;
   top: 0;
   width: 177.96px;
}

.pages {
   align-items: center;
   display: flex;
   position: relative;
   width: 177.88px;
   height: 26px;
}

.items-1-page-number-1-default {
   align-items: flex-start;
   display: flex;
   height: 26px;
   margin-left: 5px;
   padding: 0.2px 0.4px;
   width: 26px;
}

.overlap-group-2 {
   align-items: flex-start;
   background-color: var(--plump-purple);
   border-radius: 2.53px;
   display: flex;
   height: 25px;
   min-width: 25px;
}

.p-number-2 {
   height: 16px;
   letter-spacing: 0.20px;
   margin: auto;
   line-height: 16px;
   min-width: 6px;
   text-align: center;
   align-items: center;
   white-space: nowrap;
}

.items-1-page-number-1-default-4 {
   align-items: flex-start;
   background-color: var(--white);
   border-radius: 2.53px;
   display: flex;
   height: 17.11px;
   margin-left: 5px;
   overflow: hidden;
   width: 32.65px;
   padding: 4.1px 8.1px;
}

.p-number-5 {
   height: 16px;
   letter-spacing: 0.20px;
   line-height: 16px;
   min-width: 9px;
   text-align: center;
   white-space: nowrap;
}

.items-1-page-number-1-default-5 {
   align-items: flex-start;
   background-color: var(--white);
   border-radius: 2.53px;
   display: flex;
   height: 16.52px;
   margin-bottom: 0.31px;
   margin-left: 5px;
   overflow: hidden;
   padding: 4.4px 6.3px;
   width: 43.29px;
}

.p-number-6 {
   height: 16px;
   letter-spacing: 0.20px;
   line-height: 16px;
   min-width: 12px;
   text-align: center;
   white-space: nowrap;
}

.valign-text-middle {
   display: flex;
   flex-direction: column;
   justify-content: center;
}


.frame81512813 {
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   min-height: 72px;
   width: 1280px;
}

.overlap-group {
   height: 32px;
   position: relative;
   width: 347px;
}

.border_line {
   height: 1px;
   margin-top: 20px;
   width: 1280px;
}

.roboto-medium-white-10px {
   color: var(--white);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-s);
   font-weight: 500;
   font-style: normal;
}

.roboto-medium-plump-purple-10px {
   color: var(--plump-purple);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-s);
   font-weight: 500;
   font-style: normal;
}

.roboto-normal-slimy-green-12px {
   color:var(--slimy-green);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-m);
   font-weight: 400;
   font-style: normal;
}

.roboto-normal-blueberry-12px {
   color: var(--blueberry);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-m);
   font-weight: 400;
   font-style: normal;
}

.roboto-medium-black-14px {
   color: var(--black);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-l);
   font-weight: 500;
   font-style: normal;
}

.roboto-medium-topaz-10px {
   color: var(--topaz);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-s);
   font-weight: 500;
   font-style: normal;
}

.roboto-medium--mine-shaft-20px {
   color: var(--mine-shaft);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-x12);
   font-weight: 500;
   font-style: normal;
}

.roboto-medium-white-14px {
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-l);
   font-weight: 500;
   font-style: normal;
}

.roboto-medium-eerie-black-10px {
   color: var(--eerie-black);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-s);
   font-weight: 500;
   font-style: normal;
}

.roboto-normal-eerie-black-12px {
   color: var(--eerie-black);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-m);
   font-weight: 400;
   font-style: normal;
}

.roboto-medium-cinnabar-14px {
   color: var(--cinnabar);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-l);
   font-weight: 500;
   font-style: normal;
}

.border-1px-gray-suit {
   border-width: 1px;
   border-style: solid;
   border-color: var(--gray-suit);
}

.roboto-normal-eerie-black-14px {
   color: var(--eerie-black);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-l);
   font-weight: 400;
   font-style: normal;
}

:root {
   --plump-purple: rgba(94, 53, 177, 1);
   --black: rgba(0, 0, 0, 1);
   --slimy-green: rgba(23, 165, 0, 1);
   --eeri-black: rgba(25, 25, 23, 1);
   --mine-shaft: rgba(51, 51, 51, 1);
   --blueberry: rgba(69, 154, 255, 1);
   --plump-purple-2: rgba(94, 53, 177, 0.102);
   --topaz: rgba(122, 124, 139, 1);
   --gray-suit: rgba(186, 189, 205, 1);
   --cinnabar: rgba(229, 57, 57, 1);
   --whisper: rgba(244, 245, 249, 1);
   --white: rgba(255, 255, 255, 1);

   --font-size-s: 10px;
   --font-size-m: 12px;
   --font-size-l: 14px;
   --font-size-xl: 16px;
   --font-size-x12: 20px;

   --font-family-roboto: "Roboto";
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

.redaktirovanie-istochnika {
   align-items: center;
   background-color: var(--white);
   display: flex;
   box-shadow: 0px 2px 8px #6a7a9826;
   flex-direction: column;
   position: relative;
   height: 424px;
   width: 601px;
}

.frame-81512688 {
   align-items: flex-start;
   display: flex;
   flex-direction: column;
   margin-top: 32px;
   min-height: 224px;
   position: relative;
   width: 521px;
}

.frame-2384 {
   align-items: center;
   background-color: var(--white);
   box-shadow: 0px 2px 8px #6a7a9826;
   display: flex;
   height: 72px;
   justify-content: flex-end;
   min-width: 601px;
}

.text-1 {
   letter-spacing: 0;
   line-height: 24px;
   min-height: 24px;
   min-width: 238px;
   white-space: nowrap;
}

.text-2 {
   letter-spacing: 0;
   line-height: 24px;
   min-height: 24px;
   min-width: 455px;
   white-space: nowrap;
}

.x-1 {
   align-items: center;
   display: flex;
   height: 24px;
   margin-left: 291px;
   padding: 0 3px;
   width: 24px;
}

.overlap-group-3 {
   align-items: flex-start;
   cursor: pointer;
   background-size: 100% 100%;
   display: flex;
   min-width: 18px;
}



.frame-81512689 {
   align-items: center;
   display: flex;
   height: 40px;
   position: relative;
   width: 521px;
}

.text {
   letter-spacing: 0;
   line-height: 22px;
   min-height: 22px;
   white-space: nowrap;
   width: 207px;
}


.frame-81512689.frame-81512690 {
   margin-top: 32px;
}

.atom-large-3 {
   align-items: center;
   border-radius: 6px;
   display: flex;
   height: 40px;
   margin-left: 32px;
   overflow: hidden;
   padding: 0 8px;
   position: relative;
   width: 282px;
}

.placeholder {
   align-items: center;
   display: flex;
   height: 32px;
   min-width: 266px;
}

.value-1 {
   letter-spacing: 0;
   line-height: 20px;
   min-height: 20px;
   white-space: nowrap;
   width: 266px;
}

.frame-8151268 {
   align-items: center;
   display: flex;
   height: 24px;
   margin-top: 32px;
   min-width: 521px;
   position: relative;
}

.medium-selected {
   align-items: flex-start;
   display: flex;
   left: 473px;
   margin-left: 16px;
   min-width: 48px;
}

.toggle {
   align-items: flex-start;
   background-color: var(--plump-purple);
   border-radius: 12px;
   display: flex;
   height: 24px;
   overflow: hidden;
   width: 48px;
}

.toggle-nob {
   height: 43px;
   margin-left: 15px;
   margin-top: -4.93px;
   width: 42px;
}

.primary-7 {
   align-items: center;
   background-color: var(--plump-purple);
   border-radius: 6px;
   display: flex;
   height: 40px;
   margin-top: 32px;
   min-width: 107px;
}

.default {
   color: var(--white);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-12);
   font-weight: 500;
   letter-spacing: 0;
   line-height: 22px;
   min-height: 22px;
   margin-left: 12px;
   min-width: 71px;
   text-align: center;
   white-space: nowrap;
}

.container-center-horizontal {
   flex-direction: row;
   justify-content: center;
   width: 100%;
}

.container-center-horizontal > * {
   flex-shrink: 0;
   pointer-events: auto;
}

.uvedomlenie {
   align-items: center;
   justify-content: center;
   background-color: var(--white);
   box-shadow: 0px 2px 8px #6a7a9826;
   display: flex;
   flex-direction: column;
   height: 303px;
   width: 625px;
}

.frame-81512684 {
   align-items: center;
   display: flex;
   flex-direction: column;
   min-height: 112px;
   width: 427px;
}

.pp {
   letter-spacing: 0;
   line-height: 24px;
   min-height: 48px;
   text-align: center;
   width: 417px;
   color: var(--mine-shaft);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-x12);
   font-weight: 500;
   font-style: normal;
}

.pp2 {
   color: var(--black);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-xl);
   font-weight: 400;
   letter-spacing: 0;
   line-height: 24px;
   margin-top: 16px;
   min-height: 48px;
   text-align: center;
   width: 427px;
}

.frame-1712 {
   align-items: flex-start;
   display: flex;
   height: 40px;
   margin-top: 40px;
   min-width: 328px;
   position: relative;
}

.atom-large-5 {
   align-items: center;
   border-radius: 6px;
   display: flex;
   height: 38px;
   min-width: 154px;
}

.x15 {
   color: var(--topaz);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-m);
   font-weight: 500;
   letter-spacing: 0;
   line-height: 18px;
   margin-left: 50px;
   min-width: 56px;
   text-align: center;
   white-space: nowrap;
}

.buttonlargedefault-default {
   align-items: flex-start;
   display: flex;
   height: 40px;
   margin-left: 16px;
   min-width: 156px;
   position: relative;
}

.atom-large-6 {
   align-items: center;
   background-color: var(--plump-purple);
   border-radius: 6px;
   display: flex;
   height: 40px;
   min-width: 156px;
}

.text-3 {
   color: var(--white);
   font-family: var(--font-family-roboto);
   font-size: var(--font-size-m);
   font-weight: 500;
   letter-spacing: 0;
   line-height: 18px;
   min-height: 18px;
   margin-left: 50px;
   min-width: 61px;
   text-align: center;
   white-space: nowrap;
}

.container-center-horizontal-2 {
   flex-direction: row;
   justify-content: center;
   width: 100%;
}

