
.main__container {
   width: 1280px;
   height: 1045px;
}

.clear-btn {
   border: 1px solid #d3d3d9;
   border-radius: 4px;
   color: #7A7C8B;
   padding: 8px 12px;
   font-size: 10px;
   cursor: pointer;
   display: flex;
   margin-left: 4px;
}

header {
   display: flex;
}