.main__container {
   width: 1280px;
   height: 1045px;
}

.table__container {
   width: 1280px;
   height: 720px;
}

.thead__head {
   position: relative;
   width: 1280px;
   height: 43px;
   right: 15px;
   padding: 5px 10px ;
}



